Source: wyliodrin-server
Section: unknown
Priority: optional
Maintainer: Razvan MATEI <matei.rm94@gmail.com>
Build-Depends: debhelper (>= 8.0.0), fakeroot, cmake, libstrophe-dev, libexpat1-dev, libssl-dev, libhiredis-dev, libfuse-dev, libcurl4-gnutls-dev, libevent-dev, libjansson-dev, libtool, redis-server, supervisor, python-dev, xvfb, libbluetooth-dev, libusb-dev, libudev-dev, libusb-1.0-0-dev, libi2c-dev
Standards-Version: 3.9.4
Homepage: https://wyliodrin.com/
Vcs-Git: https://github.com/Wyliodrin/wyliodrin-server.git
Vcs-Browser: https://github.com/Wyliodrin/wyliodrin-server

Package: wyliodrin-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwyliodrin-dev, libstrophe-dev, libexpat1-dev, libssl-dev, libhiredis-dev, libfuse-dev, libcurl4-gnutls-dev, libevent-dev, libjansson-dev, libtool, redis-server, supervisor, python-dev, xvfb, libbluetooth-dev, libusb-dev, libudev-dev, libusb-1.0-0-dev, libi2c-dev
Description: wyliodrin server
